$main-color: #f9fafb;
$bg-color: #f3f4f6;
$shadow: rgba(0, 0, 0, 0.08);
$shadow-hover: rgba(0, 0, 0, 0.12);
$white: #fff;
$grey: #6b7280;
$text-form: rgba(255,255,255,.9);
$red: #911a20;

$text-font: "Roboto", sans-serif;
$title-font: "Roboto", sans-serif;
